
.StudentsCard-Container{
    display: flex;
    justify-content: center;
    width: 40vh;
    min-height: 50vh;
    background-color: #ffff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.profile{
    height: 15vh;
    width: 15vh;
}

.StudentCard-content{
    margin-top: 10vh;
}